/* App.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  .time-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* 将视频置于文字后面 */
  }

  .time-display {
    font-size: 72px;
    font-weight: bold;
    background: linear-gradient(45deg, #ff0057, #007bff, #00ff00, #ffae00);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 10s ease infinite, textFlicker 3s infinite;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.9);
    z-index: 1; /* 确保文字在最前面 */
    cursor: pointer;
    position: absolute;
    bottom: 40px;
  }
  
  /* 渐变动画 */
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  

  .my-img {
    position: absolute;
    right: 200px;
    top: 80px;
    width: 415px;
  }